@model MvcDogDaycare.Models.Reservation

@{
    ViewData["Title"] = $"Delete Reservation: {Model.Id}";
}

<form asp-action="Delete"  asp-controller="Reservations">
    <input id="id" type="hidden" value="@Model.Id" />
    <label>Are you sure you want to delete reservation for @Model.PetName on @Model.DropOffDttm</label>
    <input id="submit" type="submit" value="Yes" />
</form>
<a asp-area="" asp-controller="Reservations" asp-action="Index">No, please go back</a>

