@model MvcDogDaycare.Models.Reservation

@{
    ViewData["Title"] = $"Delete Reservation: {Model.Id}";
}

<div class="row">
<div class="col-md-4">
    <form asp-action="Delete" asp-controller="Reservations">
        <div class="form-group">
            <input id="id" type="hidden" value="@Model.Id"/>
            <label>Are you sure you want to delete reservation for @Model.Pet.Name on @Model.DropOffDttm</label>
        </div>
        <div class="form-group">
            <input type="submit" value="Yes" class="btn btn-primary" />
        </div>
    </form>
    <div>
        <a asp-action="Index">No, take me back to the List</a>
    </div>
</div>
</div>